<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>#Copy the following patch to your Kernel -&gt; Patch section in your config.plist. (Right-click "0" and select "Copy(cmd+C).")</key>
	<string></string>
	<key>Patch</key>
	<dict>
		<key>0</key>
		<dict>
			<key>Arch</key>
			<string>x86_64</string>
			<key>Base</key>
			<string>_apfs_filevault_allowed</string>
			<key>Comment</key>
			<string>Force FileVault on Broken Seal</string>
			<key>Count</key>
			<integer>0</integer>
			<key>Enabled</key>
			<true/>
			<key>Find</key>
			<data></data>
			<key>Identifier</key>
			<string>com.apple.filesystems.apfs</string>
			<key>Limit</key>
			<integer>0</integer>
			<key>Mask</key>
			<data></data>
			<key>MaxKernel</key>
			<string></string>
			<key>MinKernel</key>
			<string>20.4.0</string>
			<key>Replace</key>
			<data>uAEAAADD</data>
			<key>ReplaceMask</key>
			<data></data>
			<key>Skip</key>
			<integer>0</integer>
		</dict>
	</dict>
</dict>
</plist>
